#preview-item {
	padding: 70px 20px 20px;

	.inplayer-preview-box {
		padding: 0;
		background: transparent;
		text-align: center;
		border: none;
		position: relative;

		.inplayer-imageholder {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.5);
			}
			.inplayer-paywallexplain {
				display: none;
			}
		}

		.inplayer-itemdetails {
			color: #fff;
			bottom: 140px;
			text-align: center;

			.inplayer-title {
				h1,
				h2,
				h3,
				h4,
				p {
					color: #fff;
					font-weight: 600;
					line-height: 1.3;
					font-size: 1.3em;
					margin: 4px 0;
				}
			}

			p {
				font-weight: 400;
				color: #fff;
			}
		} // itemdetails

		@media (min-width: 645px) {
			.inplayer-itemdetails {
				position: absolute;
				left: 20px;
				bottom: 20px;
				h1,
				h2,
				h3,
				h4,
				p {
					text-align: left;
				}
			}

			.inplayer-buybutton {
				position: absolute;
				right: 20px;
				bottom: 20px;
			}
		}

		.inplayer-buybutton {
			text-align: center;

			.inplayer-button {
				@extend .cta-btn;

				width: initial;
				min-width: initial;
			}
		}

		.inplayer-preview-footer {
			display: none;
		}
	} // inplayer preview box

	@media screen and (max-width: 645px) {
		.inplayer-preview-box {
			background: transparent !important;
			border: none;

			.inplayer-imageholder {
				&::after {
					background: rgba(0, 0, 0, 0);
				}
			}

			.inplayer-itemdetails {
				width: 100%;
				box-sizing: border-box;
				padding: 0 4%;

				// .inplayer-title {

				// }
			}

			.inplayer-buybutton {
				width: 100%;
				max-width: 200px;
				padding: 0 4%;
			}
		}
	}
}
.inplayer-paywall h1,
.inplayer-paywall h2,
.inplayer-paywall h3,
.inplayer-paywall h4,
.inplayer-paywall h5,
.inplayer-paywall h6 {
	color: #111111;
	line-height: 1.2;
}
